[core]
  excludesfile = ~/.gitignore

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
  pager = true
  showbranch = auto

[merge]
  summary = true
  tool = meld

[alias]
  b = branch -v
  r = remote -v
  t = tag -l
  cp = cherry-pick
  co = checkout
  br = branch
  st = status -sb
  ci = commit
  cm = commit -m
  ds = diff --staged
  amend = commit --amend -C HEAD
  undo = reset --soft HEAD^
  unstage = reset HEAD -- 
  uncommit = reset --soft HEAD^
  last = log -1 HEAD
  up = pull --rebase
  put = push origin HEAD
  ls = log --pretty=format:"%C(red)%h%Cblue%d\\ %Creset%s\\ %C(yellow)%an%Creset" --decorate
  ll = log --pretty=format:"%C(red)%h%Cblue%d%Creset\\ %s\\ %C(yellow)\\ %an,\\ %ar%Creset\\ %C(white)via\\ %cn%Creset" --decorate --numstat --date=local
  gr = log --pretty=format:"%C(red)%h%Cblue%d%Creset\\ %s\\ %C(yellow)\\ %an,\\ %ar%Creset" --graph
  where = branch -av --contains

[push]
  default = simple